.table {
	margin-top: 20px;
}

.table th.content-header {
    background-color: rgba(60,179,113,0.8);
	padding: 5px 8px;
	color: #FFFFFF;
	margin: 10px 0px 0px;
}

.speaker-profile {
	width: 30%;
}

.speaker-name {
	font-size: 5;
	font-style: "Hiragino Kaku Gothic Pro";
}

.table td.content-body {
    padding: 20px;
}
