// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timezone {
    background-color: rgba(139,0,0,0.8);
    padding: 0px 8px 0px;
    color: #FFFFFF;
    margin: 30px 0px 0px;
}

.boothname {
    background-color: rgba(60,179,113,0.8);
    padding: 0px 8px 0px;
    color: #FFFFFF;
    margin: 10px 0px 0px;
}

.content {
    background-color: #FFFFFF;
}
